/*Monserrat*/
@font-face {
    font-family: "Monserrat_Regular";
    src: url(../Font/Monserrat/Montserrat-Regular.ttf) format("trueType");
}

/*Raleway*/
@font-face {
    font-family: "Raleway_semibold";
    src: url(../Font/Raleway/Raleway-SemiBold.ttf) format("trueType");
    font-weight: 300;
}
@font-face {
    font-family: "Raleway";
    src: url(../Font/Raleway/Raleway-Regular.ttf) format("trueType");
    font-weight: 400;
}
@font-face {
    font-family: "Raleway_negrita";
    src: url(../Font/Raleway/Raleway-Black.ttf) format("trueType");
    font-weight: 900;
}

/*Comfortaa*/
@font-face {
    font-family: "Comfortaa";
    src: url(../Font/Comfortaa/Comfortaa-Medium.ttf) format("trueType");
}
/*Kiwi Maru*/
@font-face {
    font-family: "Kiwi_Maru";
    src: url(../Font/Kiwi_Maru/KiwiMaru-Medium.ttf) format("trueType");
}