body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Comfortaa";
  background-color: black;
  color: white;
}
.img_gradiante{
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  z-index: -2;
}
.layer-blur{
  position: absolute;
  margin-top: 200px;
  height: 0;
  width: 30rem;
  top: 20%;
  right: 0;
  box-shadow: 0 0 700px 15px white;
  rotate: -30deg;
  z-index: -2;
}
header {
  background: #000000;
  padding: 14px 0
}

header .container {
  margin: 0;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

header h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 200;
  margin: 0;
}

.menu {
  display: flex;
  gap: 24px;
}

.menu .item {
  text-decoration: none;
  color: inherit;
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  transition: color 0.2s ease;
}

.menu .item:hover {
  color: #c3c4c69d;
}

.btn_signing{
  background: rgb(140, 140, 140);
  color: #000000;
  text-decoration: none;
  padding: 0.8rem  2rem;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn_signing:hover{
  background-color: #ffffff;
}

header, main{
  position: relative;
  z-index: 100;
  isolation: isolate;
}

main{
  min-height: calc(90vh - 6rem);
  overflow: hidden;
}

/*Boton de Registro*/
.button{
  position: relative;
  width: 15rem;
  height: 2.5rem;
  border-radius: 20px;
  background:linear-gradient(to  right, #65656555, #427da7, #005fc5, #0053a0, #75757500, #65656555);
  background-size: 200%;
  animation: animationGradient 2.5s linear infinite;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); 
  margin: 5rem 0;
}

@keyframes animationGradient{
  to{
    background-position: 200%;
  }
}

.button .btn_register{
  position: absolute;
  inset: 3px 3px 3px 3px;
  background-color: #000000;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s center;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.button .btn_register:hover{
  text-shadow: 0 0 10px #ffffff;
}

/*Contenido*/

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vh;
  margin-left: 10%;
  margin-top: 6rem;

}

/*Hero*/

#hero{
  display: grid;
  gap:20px;
  margin: 2rem 0;
}
#hero .text{
  flex: 1;
}

#hero h1{
  font-family: "Raleway";
  font-weight: 400;
  font-size: 4rem;
  margin: 2rem 0;
  line-height: 1.2;
  color: rgba(246, 246, 246, 0.753);
  
}

#negrita_title {
  font-family: "Raleway_negrita";
  font-weight: 900;
  font-size: 120px;
  color: white;
  transition: text-shadow 0.2s cubic-bezier(0.4,0,0.2,1);
  text-shadow: 0 3px 8px rgba(255, 255, 255, 0.762);
}

#hero p{
  width: 70rem;
  color: rgba(128, 128, 128, 0.783);
}

.Esfera_3d {
  flex: 1;
  position: absolute;
  top: 10rem;
  right: -10%;
  height: 45vh;
  width: 150vh;
  z-index: 100;
  pointer-events: auto;
}

/*Contenido 2*/

.content .seccions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100rem;
}

/*Somos Parkpro*/

#somos-parkpro{
  margin: 25rem 0;
}

#somos-parkpro .container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

/*Ventajas*/

#ventajas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

#ventajas h2{
  font-size: 3rem;
}

.container_ventaja{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 25rem;
  row-gap: 10rem;
}

.item_ventaja img{
  max-height: 200px;
}

/*Modalidades*/

#modalidades{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20rem 0;
  gap: 3rem;
  font-size: 1.2rem;
}

#modalidades .container_modalidades{
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
}

.container_modalidades .modalidad{
  position: relative;
  width: 18rem;
  height: 20rem;
  border-radius: 20px;
  background:linear-gradient(to  right, #65656555, #427da7, #005fc5, #0053a0, #75757500, #65656555);
  background-size: 200%;
  animation: animationGradient 2.5s linear infinite;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); 
  margin: 5rem 0;
}

.modalidad .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 3px 3px 3px 3px;
  background-color: #000000;
  border-radius: 20px;
}

.text h3{
  font-size: 35PX;
  margin: 0;
} 

.text .button {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-family: "Raleway_semibold";
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid rgb(74, 126, 174);
  box-shadow: 0 0 20px rgb(0, 136, 255);
  border-radius: 15px;
  text-decoration: none;
}

/*Footer*/
footer{
  display: flex;
  justify-content: center;
  align-items: center;
}